@model SimpleBlog.ViewModels.IndexViewModel
@{
    ViewBag.Title = "simpleblog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("MainMenuShow", "Home", new { activeSubmenu = 1 })
@Html.Action("BackToTopShow", "Home")

<div class="mkd-content">
    <div class="mkd-content-inner">
        @Html.Action("TrendingArticlesShow", "Home")
        @Html.Action("BreadcrumbsShow", "Home")
        <div class="mkd-container">
            <div class="mkd-container-inner clearfix">
                <div class="mkd-two-columns-75-25  mkd-content-has-sidebar clearfix">
                    <div class="mkd-column1 mkd-content-left-from-sidebar">
                        <div class="mkd-column-inner">
                            @Html.Action("ArticleBigBlockShow", "Home")
                            @Html.Action("ArticlesMainListShow", "Home", new { page = Model.PageNumber })
                        </div>
                    </div>
                    <div class="mkd-column2">
                        <div class="mkd-column-inner">
                            @Html.Action("SocialAsideShow", "Home")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
