@model SimpleBlog.ViewModels.ArticlesCategoriesManageViewModel
@{
    ViewBag.Title = "Zarządzanie kategoriami artykułów";
    Layout = "~/Views/Shared/_LayoutBackofficeArticlesManage.cshtml";
}
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <aside class="mkd-side-menu right" style="left:0px;height:100%;width:20%!important">
            <div class="widget mkd-image-widget" style="padding: 25px 0 0 0">
                <a href="#" target="_self"><img src="~/Content/Images/LOGO-FOOTER.png" alt="a" /></a>
            </div>
            <div id="nav_menu-2" class="widget mkd-sidearea widget_nav_menu">
                <div class="mkd-section-title-holder clearfix mkd-pattern-dark">
                    <span class="mkd-st-title">Zarządzaj</span>
                </div>
                <div class="menu-sidearea-menu-2-container">
                    <ul id="menu-sidearea-menu-2" class="menu">
                        <li id="menu-item-2-1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">@Html.ActionLink("Artykuły", "ArticlesManage")</li>
                        <li id="menu-item-2-2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">@Html.ActionLink("Kategorie artykułów", "ArticlesCategoriesManage")</li>
                        <li id="menu-item-2-3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">@Html.ActionLink("Zarządzanie tagami", "TagsManageShow")</li>
                    </ul>
                </div>
            </div>
        </aside>
    }
}
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {

                                            <div class="wpb_wrapper" style="margin-left:30%">
                                                <br /><br />
                                                <div class="widget mkd-rpc-holder">
                                                    <div class="mkd-section-title-holder clearfix">
                                                        <span class="mkd-st-title">Zarządzanie kategoriami artykułów</span>
                                                    </div>
                                                    <div class="mkd-rpc-inner">
                                                        <ul>
                                                            @foreach (var category in Model.ArticleCategories)
                                                            {
                                                                <li>
                                                                    <div class="mkd-rpc-content" style="width:93%">
                                                                        <h6 class="mkd-rpc-link" style="margin-left:10px;">
                                                                            @category.Name.ToString()
                                                                        </h6>
                                                                    </div>
                                                                    <div style="display:inline-block;">@Html.ActionLink("Usuń", "ArticlesCategoriesDelete", new { ArticleCategoryName = category.Name })</div>
                                                                </li>
                                                            }
                                                        </ul>
                                                        <br />
                                                            @using (Html.BeginForm("ArticlesCategoriesManage", "Backoffice", FormMethod.Post))
                                                            {
                                                                <ul>
                                                                    <li>
                                                                        <div class="mkd-rpc-content" style="width:93%">
                                                                            <h6 class="mkd-rpc-link">
                                                                                @Html.TextBoxFor(o => o.ArticlesCategoryAddName, new { @class = "input-text", @placeholder = "Nazwa kategorii..." })
                                                                            </h6>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div style="display:inline-block">
                                                                            <input type="submit" class="woocommerce woocommerce-page button " method="post" value="Dodaj kategorię" />
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                             }     
                                                    </div>
                                                </div>
                                            </div>                       

    }
}